//body background
@body-background: #fafafa;

//fontSize base
@font-size-root: 16px;

@font-size-base: 14px;

@font-size-small: .75rem;

//font
@font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;

//font color
@base-color: #333;

@red-color: #f6e678;

//背景颜色
@base-backgroud: #fff;

//间距列表
@normal-space: 20px; //正常间距

