//body background
@body-background: #fafafa;

//fontSize base
@font-size-root: 16px;

@font-size-base: 14px;

@font-size-small: .75rem;

//font
@font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;

//font color
@base-color: #333;

@wihte-color: #fff;

@red-color: #ff5a66;

@grey-color: #999;

@blue-color: #00b7ee;

//背景颜色
@base-backgroud: #fff;

@blue-backgroud: #00b7ee;

//border颜色
@grey-border: #e5e5e5;

@blue-border: #00b7ee;

//间距列表
@normal-space: 20px; //正常间距
@large-space: 30px;  //最大间距

